*{
	padding: 0;
	margin: 0;
}

h1 {
	color: green;
}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.product {
	background-color: #596275;
	display: inline-block;
	padding: 10px;
	width: 250px;
	box-shadow: 5px 5px 10px black;
	margin: 0 auto;
	margin-bottom: 20px;
}

.product p {
	color: white;
	margin-bottom: 10px;
}

.product img {
	width: 200px;
}

.button-box {
	margin: 10px;
}

.button-box button {
	border: none;
	border-radius: 5px;
	background: #f5cd79;
	color: #e15f41;
	cursor: pointer;
	padding: 10px 20px;
	transition: background .6s ease;
}

.button-box button:hover {
	background: #778beb;
}

@keyframes spin {
	from {
		transition: rotate(0deg);
	}
	to {
		transition: rotate(360deg);
	}
}

.head img{
	width: 200px;
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@media (max-width: 820px) {
	.products {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 580px) {
	.products {
		display: grid;
		grid-template-columns: 1fr;
	}
}